<section class="header">
    <div id="cdk-overlay-1" class="cdk-overlay-pane" dir="ltr">
      <div class="header__wrapper">
        <div class="header__logo">
          <img src="../../../assets/images/earth-globe.png" class="header__logo__image">
          <p class="header__logo__title">TestSupport</p>
        </div>
        <div class="header__menu">
          <div class="header__menu__item"><p>TRANG CHỦ</p></div>
          <div class="header__menu__item"><p>TRA CỨU</p></div>
          <div class="header__menu__item"><p>VIẾT HỒ SƠ</p></div>
          <div class="header__menu__item"><p>FAQs</p></div>
          <div class="header__menu__item"><p>VỀ CHÚNG TÔI</p></div>
        </div>
        <div class="header__login">
          <mat-icon class="header__login__icon">account_circle</mat-icon>
          <p class="header__login__text">Đăng nhập</p>
        </div>
      </div>
</div>
</section>
