<section class="header">
    <div id="cdk-overlay-1" class="cdk-overlay-pane" dir="ltr">
      <div class="header__wrapper">
        <div class="header__logo">
          <img src="../../../assets/images/imageonline-co-whitebackgroundremoved.png" class="header__logo__image">
        </div>
        <div class="header__menu">
          <div class="header__menu__item"><a routerLink="/home"><p>TRANG CHỦ</p></a></div>
          <div class="header__menu__item"><a><p>TRA CỨU</p></a></div>
          <div class="header__menu__item"><a routerLink="/test"><p>VIẾT HỒ SƠ</p></a></div>
          <div class="header__menu__item"><a><p>FAQs</p></a></div>
          <div class="header__menu__item"><a><p>VỀ CHÚNG TÔI</p></a></div>
        </div>
        <div class="header__login">
          <mat-icon class="header__login__icon">account_circle</mat-icon>
          <p class="header__login__text">Đăng nhập</p>
        </div>
      </div>
</div>
</section>
