<section class="header">
    <div id="cdk-overlay-1" class="cdk-overlay-pane" dir="ltr">
      <div class="header__wrapper">
        <div class="header__logo">
          <img src="../../../assets/images/imageonline-co-whitebackgroundremoved.png" class="header__logo__image">
        </div>
        <div class="header__menu">
          <div class="header__menu__item"><a routerLink="/home"><p>TRANG CHỦ</p></a></div>
          <div class="header__menu__item"><a routerLink="/home/lookup"><p>TRA CỨU</p></a></div>
          <div class="header__menu__item"><a routerLink="/home/profilePrinter"><p>VIẾT HỒ SƠ</p></a></div>
          <div class="header__menu__item"><a routerLink="/home/wishes"><p>NGUYỆN VỌNG</p></a></div>
          <div class="header__menu__item"><a><p>VỀ CHÚNG TÔI</p></a></div>
        </div>
        <div class="header__mobile__menu">
          <div class="header__mobile__menu__content">
            <div class="header__mobile__menu__item"><a routerLink="/home"><p>TRANG CHỦ</p></a></div>
            <div class="header__mobile__menu__item"><a routerLink="/home/lookup"><p>TRA CỨU</p></a></div>
            <div class="header__mobile__menu__item"><a routerLink="/home/profilePrinter"><p>VIẾT HỒ SƠ</p></a></div>
            <div class="header__mobile__menu__item"><a routerLink="/home/wishes"><p>NGUYỆN VỌNG</p></a></div>
            <div class="header__mobile__menu__item"><a><p>VỀ CHÚNG TÔI</p></a></div>
          </div>
        </div>
        <div class="header__login">
          <a routerLink="/login"><mat-icon class="header__login__icon">account_circle</mat-icon></a>
          <a routerLink="/login"><p class="header__login__text">Đăng nhập</p></a>
        </div>
      </div>
</div>
</section>
