<p>printer works!</p>
<button class="btn btn-primary" (click)="drawFromInstruction(documentContext)">Draw</button>
<button class="btn btn-primary" (click)="savePDF()">Save</button>
<canvas #documentPage1 style="display: none;" width="1654" height="2339"></canvas>
<canvas #documentPage2 style="display: none;" width="1654" height="2339"></canvas>
<canvas #documentPage3 style="display: none;" width="1654" height="2339"></canvas>
<canvas #documentPage4 style="display: none;" width="1654" height="2339"></canvas>
<canvas #documentPage5 style="display: none;" width="1654" height="2339"></canvas>
<canvas #documentPage6 style="display: none;" width="1654" height="2339"></canvas>
