.main {

    &__filter {
        padding: 30px;
        &__search {
            width: 400px;
        }
    }
    &__wrapper {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        &__inner {
            width: 98%;
        }
    }
}

.table {
    & td,th,tr {
        border: solid gray 1px;
        padding: 5px;
    }
    & th {
        text-align: center;
    }
}

.drawer {
    &__wrapper {
        position: fixed;
        right: 0%;
        top: 70px;
        width: 450px;
        height: 100%;
        background-color: white;
        padding: 20px;
        transform: translateX(100%);
        transition-duration: 0.3s;
        box-shadow: -2px 0px 10px grey;
        overflow-y: scroll;
        padding-bottom: 400px;

        &--visible {
            transform: translateX(0%);
        }
    }
    &__title {
        font-size: 30px;
        margin-top: 4px;
    }
    &__form {
        padding-top: 20px;

        &__input, label {
            margin-bottom: 15px;
            overflow: hidden;
        }
        button {
            float: right;
            margin: 5px;
            overflow: hidden;
        }
        &__formGroup {
            width: 100%;
            display: flex;
            flex-direction: row;

            button {
                margin: 5px;
                float: none;
                height: 30px;
            }
        }
    }
    &__close {
        float: right;
    }
}

.material-icons {
    transition-duration: 0.2s;
    cursor: pointer;
}
.material-icons:hover {
    color: cyan;
}